/* GENERAL */
html{
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*{
  max-height: 1000000px;
  margin: 0;
  padding: 0;
}

body{
  font: 18px/1.5 'Quicksand', sans-serif;
  background: url('../Image/bg.jpg') no-repeat;
  background-size: cover;
  color: #333; 
}

.container {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 15px;
}

/* INPUT BOX */
input[type="text"],
input[type="password"] {
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  padding: 15px 15px 15px 35px;
  width: 100%;
  height: 50px;
  color: #333;
  font: 18px/1.5 'Quicksand', sans-serif;
  transition: border 0.3s linear, color 0.3s linear;
}

input[type="text"] + .fas,
input[type="password"] + .fas {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #333;
  transition: color 0.3s linear;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #1e8bc3;
  color: #1e8bc3;  
}

input[type="text"]:focus + .fas,
input[type="password"]:focus + .fas {
  color: #1e8bc3;  
}

/* BUTTON */
#btn {
  background: #1e8bc3;
  border: none;
  color: #fff;
  padding: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  font: 18px/1.5 'Quicksand', sans-serif;
  transition: background 0.3s linear;
}

#btn:hover {
  background: #2574a9;
}

/* INPUT BOX PLACEHOLDER COLORS */
input::-webkit-input-placeholder {
  color: #333;
}
     
input:-moz-placeholder { /* Firefox 18- */
  color: #333;  
}
     
input::-moz-placeholder {  /* Firefox 19+ */
  color: #333;  
}
     
input:-ms-input-placeholder {  
  color: #333;  
}

/* CUSTOM CHECKBOX */
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  cursor: pointer;
  padding: 0 0 0 30px;
  position: relative;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content:'';
  background: #ddd; 
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}    

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #1e8bc3;
  position: absolute;
  top: -4px;
  left: 2px;
  opacity: 0;
  transform: scale(1.5);
  transition: opacity 0.3s linear, transform 0.3s linear;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* LOGIN FORM */
.formHolder {
  background: rgba(255,255,255,0.6);
  padding: 80px 40px;
  text-align: center;
}
.formHolder .titleHolder {
  margin: 0 0 50px;
}

.formHolder .titleHolder .far {
  font-size: 70px;
  margin: 0 0 20px;
}

.formHolder h1 {
  font-size: 40px;
  margin: 0 0 10px;
}

.formHolder a {
  font-size: 14px;
  color: #333;
  transition: color 0.3s linear;
}

.formHolder a:hover {
  color: #2574a9;
}

.formHolder form {
  max-width: 360px;
  margin: 0 auto;
}

.formHolder form .row {
  position: relative;
  margin: 0 0 20px;
}


 
