<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login_check</servlet-name>
        <servlet-class>Login_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_check</servlet-name>
        <servlet-class>Reg_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feed_chk</servlet-name>
        <servlet-class>Feed_chk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ask_chk</servlet-name>
        <servlet-class>Ask_chk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ask_check</servlet-name>
        <servlet-class>Ask_check</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_check</servlet-name>
        <url-pattern>/Login_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_check</servlet-name>
        <url-pattern>/Reg_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feed_chk</servlet-name>
        <url-pattern>/Feed_chk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ask_chk</servlet-name>
        <url-pattern>/Ask_chk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ask_check</servlet-name>
        <url-pattern>/Ask_check</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
